*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    color: white;
    background-color: #333;
    text-align: center;
    padding: 50px 5px 25px 5px;
   
}
header ul li{

    background-color: #333;
    list-style-type: none;
    display: inline;
    margin: 15px;
    color: white;
    

}
header ul li a {
    color: white;
    text-decoration: none;
}
nav {
    margin: 20px;
    background-color: #aca6a6;
    padding: 20px;
}

nav main{
    margin: 20px 5px 5px 5px;
    padding: 5px;
    background-color: white;
}
nav section{
    padding: 10px;
    background-color: rgb(242, 243, 243);
    margin: 10px;
    border-radius: 5px;
}

nav aside{
    padding: 15px;
    background-color: rgb(203, 213, 222);
    margin: 5px;
    border-left: 5px solid;
}
footer{
    background-color: #333;
    padding: 5px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}